# Import libraries

In [1]:
import numpy as np
import pandas as pd
from urllib.request import urlretrieve as retrieve

# Download csv file and return a pandas DataFrame

In [2]:
URL = "https://covid.ourworldindata.org/data/owid-covid-data.csv"

In [3]:
def retrieve_csv_data (url = URL):
    retrieve (url, "covid_data.csv")
    return pd.read_csv("covid_data.csv")

In [4]:
covid_data = retrieve_csv_data()

# Exploratory analysis

In [5]:
covid_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-01-23,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-24,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-25,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-27,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [18]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61444 entries, 0 to 61443
Data columns (total 50 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            61123 non-null  object
 1   continent                           60801 non-null  object
 2   location                            61444 non-null  object
 3   date                                61444 non-null  object
 4   total_cases                         52469 non-null  float64
 5   new_cases                           61312 non-null  float64
 6   new_cases_smoothed                  60356 non-null  float64
 7   total_deaths                        44567 non-null  float64
 8   new_deaths                          61312 non-null  float64
 9   new_deaths_smoothed                 60356 non-null  float64
 10  total_cases_per_million             52163 non-null  float64
 11  new_cases_per_million               60991 non-null  float64
 12  new_cases_smoothed_per_million      60040 non-null  float64
 13  total_deaths_per_million            44274 non-null  float64
 14  new_deaths_per_million              60991 non-null  float64
 15  new_deaths_smoothed_per_million     60040 non-null  float64
 16  reproduction_rate                   41259 non-null  float64
 17  icu_patients                        4700 non-null   float64
 18  icu_patients_per_million            4700 non-null   float64
 19  hosp_patients                       5685 non-null   float64
 20  hosp_patients_per_million           5685 non-null   float64
 21  weekly_icu_admissions               458 non-null    float64
 22  weekly_icu_admissions_per_million   458 non-null    float64
 23  weekly_hosp_admissions              743 non-null    float64
 24  weekly_hosp_admissions_per_million  743 non-null    float64
 25  new_tests                           24564 non-null  float64
 26  total_tests                         24718 non-null  float64
 27  total_tests_per_thousand            24718 non-null  float64
 28  new_tests_per_thousand              24564 non-null  float64
 29  new_tests_smoothed                  27456 non-null  float64
 30  new_tests_smoothed_per_thousand     27456 non-null  float64
 31  positive_rate                       25522 non-null  float64
 32  tests_per_case                      24914 non-null  float64
 33  tests_units                         28462 non-null  object
 34  stringency_index                    53969 non-null  float64
 35  population                          61123 non-null  float64
 36  population_density                  59832 non-null  float64
 37  median_age                          58234 non-null  float64
 38  aged_65_older                       57585 non-null  float64
 39  aged_70_older                       57913 non-null  float64
 40  gdp_per_capita                      58548 non-null  float64
 41  extreme_poverty                     39856 non-null  float64
 42  cardiovasc_death_rate               59126 non-null  float64
 43  diabetes_prevalence                 59832 non-null  float64
 44  female_smokers                      45958 non-null  float64
 45  male_smokers                        45316 non-null  float64
 46  handwashing_facilities              30540 non-null  float64
 47  hospital_beds_per_thousand          53661 non-null  float64
 48  life_expectancy                     60802 non-null  float64
 49  human_development_index             58868 non-null  float64
dtypes: float64(45), object(5)
memory usage: 23.4+ MB

In [19]:
covid_data.isnull().sum().sort_values(ascending = False)

weekly_icu_admissions                 60986
weekly_icu_admissions_per_million     60986
weekly_hosp_admissions_per_million    60701
weekly_hosp_admissions                60701
icu_patients                          56744
icu_patients_per_million              56744
hosp_patients                         55759
hosp_patients_per_million             55759
new_tests                             36880
new_tests_per_thousand                36880
total_tests                           36726
total_tests_per_thousand              36726
tests_per_case                        36530
positive_rate                         35922
new_tests_smoothed_per_thousand       33988
new_tests_smoothed                    33988
tests_units                           32982
handwashing_facilities                30904
extreme_poverty                       21588
reproduction_rate                     20185
total_deaths_per_million              17170
total_deaths                          16877
male_smokers                          16128
female_smokers                        15486
total_cases_per_million                9281
total_cases                            8975
hospital_beds_per_thousand             7783
stringency_index                       7475
aged_65_older                          3859
aged_70_older                          3531
median_age                             3210
gdp_per_capita                         2896
human_development_index                2576
cardiovasc_death_rate                  2318
diabetes_prevalence                    1612
population_density                     1612
new_cases_smoothed_per_million         1404
new_deaths_smoothed_per_million        1404
new_deaths_smoothed                    1088
new_cases_smoothed                     1088
continent                               643
life_expectancy                         642
new_deaths_per_million                  453
new_cases_per_million                   453
iso_code                                321
population                              321
new_cases                               132
new_deaths                              132
date                                      0
location                                  0
dtype: int64

In [8]:
# covid_data.describe()

In [22]:
covid_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [10]:
%matplotlib inline

In [11]:
# import matplotlib.pyplot as plt
# covid_data.hist(bins=50, figsize=(20,15))
# plt.show()

In [84]:
df = covid_data.copy()

In [13]:
# cols= ['new_tests_per_thousand','new_tests', 'total_tests', 'total_tests_per_thousand',
#                          'tests_per_case', 'positive_rate', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
#                          'handwashing_facilities', 'tests_units', 'extreme_poverty', 'male_smokers', 'female_smokers',
#                          'total_deaths_per_million']

In [85]:
cols = df.columns[(df.isnull().sum()) > (len(df)*0.3)]
df.drop(cols, axis=1, inplace = True)

In [86]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-01-23,NaN,0.0,NaN,NaN,0.0,NaN,...,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-24,NaN,0.0,NaN,NaN,0.0,NaN,...,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-25,NaN,0.0,NaN,NaN,0.0,NaN,...,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-27,NaN,0.0,NaN,NaN,0.0,NaN,...,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61444 entries, 0 to 61443
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         61123 non-null  object
 1   continent                        60801 non-null  object
 2   location                         61444 non-null  object
 3   date                             61444 non-null  object
 4   total_cases                      52469 non-null  float64
 5   new_cases                        61312 non-null  float64
 6   new_cases_smoothed               60356 non-null  float64
 7   total_deaths                     44567 non-null  float64
 8   new_deaths                       61312 non-null  float64
 9   new_deaths_smoothed              60356 non-null  float64
 10  total_cases_per_million          52163 non-null  float64
 11  new_cases_per_million            60991 non-null  float64
 12  new_cases_smoothed_per_million   60040 non-null  float64
 13  total_deaths_per_million         44274 non-null  float64
 14  new_deaths_per_million           60991 non-null  float64
 15  new_deaths_smoothed_per_million  60040 non-null  float64
 16  stringency_index                 53969 non-null  float64
 17  population                       61123 non-null  float64
 18  population_density               59832 non-null  float64
 19  median_age                       58234 non-null  float64
 20  aged_65_older                    57585 non-null  float64
 21  aged_70_older                    57913 non-null  float64
 22  gdp_per_capita                   58548 non-null  float64
 23  cardiovasc_death_rate            59126 non-null  float64
 24  diabetes_prevalence              59832 non-null  float64
 25  female_smokers                   45958 non-null  float64
 26  male_smokers                     45316 non-null  float64
 27  hospital_beds_per_thousand       53661 non-null  float64
 28  life_expectancy                  60802 non-null  float64
 29  human_development_index          58868 non-null  float64
dtypes: float64(26), object(4)
memory usage: 14.1+ MB

In [88]:
df["death_rate"] = df['total_deaths'] / df['total_cases']

In [89]:
df = df.drop(['iso_code'], axis=1)

In [ ]:
# df.head()

In [ ]:
df.info()

In [ ]:
# remove all rows without new cases

In [90]:
df = df.dropna(subset = ['new_cases', 'total_cases', 'total_deaths'])

In [91]:
df.head()

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,death_rate
59,Asia,Afghanistan,2020-03-22,34.0,4.0,2.571,1.0,1.0,0.143,0.873,...,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498,0.029412
60,Asia,Afghanistan,2020-03-23,41.0,7.0,3.286,1.0,0.0,0.143,1.053,...,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498,0.024390
61,Asia,Afghanistan,2020-03-24,43.0,2.0,3.286,1.0,0.0,0.143,1.105,...,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498,0.023256
62,Asia,Afghanistan,2020-03-25,76.0,33.0,7.429,2.0,1.0,0.286,1.952,...,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498,0.026316
63,Asia,Afghanistan,2020-03-26,80.0,4.0,7.857,3.0,1.0,0.429,2.055,...,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83,0.498,0.037500

In [92]:
covid_continent = df["continent"].value_counts()
covid_location = df["location"].value_counts()

In [93]:
covid_continent

Africa           12533
Europe           12047
Asia             10688
North America     4725
South America     3154
Oceania            804
Name: continent, dtype: int64

In [94]:
covid_location

World               322
China               321
Philippines         311
Japan               300
France              298
                   ...
Uganda              138
Papua New Guinea    135
Fiji                131
Vietnam             131
Saint Lucia          29
Name: location, Length: 175, dtype: int64

In [ ]:
# Convert categorical attributes to numbers

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
cat_encoder= OneHotEncoder()